.mail-preview {
    border-bottom: 1px solid rgb(167, 167, 167);
    display: flex;
    height: 38px;
    cursor: pointer;
}

h1, h2, h3, h4 {
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    /* display: inline; */
}

.mail-preview>* {
    font-size: 1rem;
    margin: 10px 0px 10px 0px;
}
.mail-preview .star{
    width: 12%;
    text-align: center;
    z-index: 1;
}
.mail-preview .star img{
    height: 100% ;
}
.mail-preview .star path{
    color: gray;
}
.mail-preview .user-sender {
    width: 13%;
    
}
.mail-preview  .subject-body{
    width: 65%;
    padding-inline-end: 40px;
    overflow: hidden;
}
.mail-preview .subject-body>*:last-child {
    font-size: 0.9rem;
    overflow: hidden;
}
.mail-preview .subject-body>*:first-child {
    display: inline;
}
.mail-preview .date {
    width: 10%;
    text-align: right;
    padding-right: 20px;
}

/* .mail-preview>*:not(:last-child) {
    margin-inline-end: 2rem;
} */

.mail-preview:hover {
    box-shadow: 3px 0px 8px 1px rgb(100, 100, 100);
}

.unread {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 2px 0px rgb(100, 100, 100);
}




