.mail-list{
    background-color: rgb(247, 247, 247);
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.mails-container{
    width: 80%;
}

.mail-container{
    position: relative;
}

