.header-container {
    display: flex;
    justify-content: space-between;
}



.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    padding: 0 2rem;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(192, 192, 192, 0.411);
}

.app-header .main-nav a {
    text-decoration: none;
    color: inherit;
}

.app-header .main-nav a.active {
    color: #316a81;
}

.app-header .main-nav a.my-active {
    color: #ce0000;
}

.app-header .main-nav>*:not(:last-child) {
    margin-inline-end: 1rem;
}

.app-header h1 {
    display: flex;
    font-size: 20px;
}

.app-header img {
    height: 30px;
}

.app-header span {
    margin-left: 20px;
    /* text-align: left; */
}

.app-header>*:last-child {
    cursor: pointer;
}

.main-nav.modal-active {
    right: 5px;
}

.screen-modal.modal-active {
    position: fixed;
    inset: 0;
    background-color: #202124;
    opacity: 0.4;
    z-index: 1;
}

.main-nav {
    position: fixed;
    background-color: white;
    display: flex;
    right: -300%;
    align-items: center;
    box-shadow: 0px 0px 4px 0px rgb(100, 100, 100);
    border-radius: 5px;
    padding: 20px;
    transition: right 0.5s;
    z-index: 10;
}


.main-nav img {
    width: 55px;
    height: 45px;
}

.main-nav>* {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
}

.main-nav>*:hover {
    background-color: rgb(201, 201, 201);
}

.search-bar {
    display: flex;
    width: 350px;
    max-width: 350px;

    border-radius: 8px;
    box-shadow: 0px 0px 3px 0px rgb(100 100 100);
    position: relative;
}

.search-bar input {
    border: none;
    outline: none;
    font-size: 1em;
    background-color: rgba(92, 86, 78, 0.013);
    padding: 5px;
}

.search-bar img {
    position: inherit;
    left: 108px;
}