*{
    box-sizing: border-box;
}

.note-preview {
    width: 240px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 0px rgb(100 100 100);
    min-height: 100px;
    text-align: center;
    padding: 10px;
    position: relative;
    max-height: fit-content;

    /* background-color: rgb(54, 161, 233); */
}

.note-img{
    max-width: 210px;
    max-height: 140px;
    box-shadow: 0px 0px 3px 0px rgb(100 100 100);
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.note-preview li {
    word-wrap: break-word;
}
.note-todo {
    display: flex;
    flex-wrap: wrap;
    padding: 3px;

}
