*{
    box-sizing: border-box;
}

.note-preview {
    width: 240px;
    border: 1px solid #111010;
    border-radius: 8px;
    min-height: 100px;
    text-align: center;
    padding: 10px;
    position: relative;
    max-height: fit-content;
    background-color: rgb(54, 161, 233);
}

.note-img{
    max-width: 210px;
    max-height: 600px;
    display: block;
    margin: 0 auto;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.note-preview li {
    word-wrap: break-word;
}
.note-todo {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;

}
