.note-edit {
    display: flex;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 2;

    flex-direction: column;
    max-width: 600px;
    border: 1px solid ;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    gap: 5px;
    background-color: rgba(47, 85, 189, 0.925);
}

.note-edit input{
    border: none;
    outline: none;
    margin: 3px;
    font-size: 1em;
    background-color: rgba(88, 77, 63, 0.082);
}

.screen {
    position: fixed;
    inset: 0;
    background-color: #202124;
    opacity: 0.2;
    z-index: 1;
}

.note-editor-bar{
    display: flex;
    gap:5px;
    padding: 10px;
    justify-content: flex-end;
    align-items: flex-end;
}